body{
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  text-align: center;
}

.cell {
  height: 10px;
  width: 10px;

  float: left;
  margin: 0;

}

.grid{
  width: 250px;
  height: 260px;
  margin: 60px auto 0px;
  border: 2px solid white;
}

.buttonControls{
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(#7290AC 0%, #5e81a1 100%) !important;
  width: 127px;
}

.score{
  background-color: white;
  color: black;
  width: 252px;
  margin: 0 auto;
  padding: 10px 0px;
  border-radius: 5px;
}


[data-value="empty"]{
  background-color: black;
}

[data-value="snake"]{
  background: white;
}

[data-value="food"]{
  background: white;
}
