body{
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #D6A4A4, #DAE2F8);
  background: -webkit-linear-gradient(right, #D6A4A4, #DAE2F8);
  background: -o-linear-gradient(right, #D6A4A4, #DAE2F8);
  background: linear-gradient(to left, #D6A4A4, #DAE2F8);
  font-size: 14px;
  min-width: 100vw;
}

.App {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  text-align: center;
}

.cell {
  height: 5px;
  width: 5px;
  float: left;
  margin: 0;
}

.grid{
  position: absolute;
  top: 23%;
  left:18.5%;
  width: 125px;
  background: #74786C;
  border: 1px solid black;
  border-top: none;
}

[data-value="empty"]{
  background-color: #74786C;
}

[data-value="snake"], [data-value="food"]{
  background: #272A23;
}

.info-modal {
  margin-top: 20px;
}

.info-modal button {
  background: rgb(226,231,222);
  background: -webkit-linear-gradient(top, rgba(226,231,222,1) 0%, rgba(186,190,182,1) 20%, rgba(133,135,135,1) 100%);
  background: -o-linear-gradient(top, rgba(226,231,222,1) 0%, rgba(186,190,182,1) 20%, rgba(133,135,135,1) 100%);
  background: linear-gradient(180deg, rgba(226,231,222,1) 0%, rgba(186,190,182,1) 20%, rgba(133,135,135,1) 100%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
